.inicio {
   
    background-image:  url(https://sm.ign.com/ign_es/screenshot/default/krato_74ya.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 2000px;
   
   };

.inicio {
   background-color: blue;
}