*{
   padding: 0;
   margin: 0;
}
body{
   font-family: Arial, Helvetica, sans-serif;
   background-color: blue;
   font-size: 18px;

}


header{
   background-image: url(../html_css/img/bradcam.png);
   background-repeat: no-repeat;
   background-size: 100% 100%;
   height: 100vh;
   color: white;
}

#main-container #header #menu{
   padding: 50px 0;
}

#header #menu ul{
   margin: 0;
   padding: 0;
}

header#menu ul{
   display: inline-block;
   padding: 10px;
   vertical-align: middle;
}